.App {
  text-align: center;
}

body {
  background-color: rgba(48, 83, 207, 1);
  font-family: 'Inter', sans-serif;
}

.div1{
  border-radius: 10px;
  background-color: white;
  padding: 4%;
  margin: 2%;
} 

.form {
  border-radius: 10px;
  background-color: white;
  padding: 4%;
  margin: 2%;
  text-align: center;

}


.div {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
